body {
  background-color: #1a202c;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.toggle-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}

a {
  color: blue;
}
